[submodule "data_loader"]
	path = data_loader
	url = git@github.com:Arrera-model/data_loader.git
[submodule "loader"]
	path = loader
	url = git@github.com:Arrera-model/loader.git
[submodule "model_builder_trainer"]
	path = model_builder_trainer
	url = git@github.com:Arrera-model/model_builder_trainer.git
[submodule "model_downloader"]
	path = model_downloader
	url = git@github.com:Arrera-model/model-downloader.git
